<div>
	<h1><%= @user.first_name %> <%= @user.last_name %>'s Profile</h1>
	<table id="user_profile_info">
		<tr><td>Email: <%= @user.email %></td></tr>
		<tr><td>Phone: <%= @user.phone %></td></tr>
		<tr><td>Phase: <%= @user.phase %></td></tr>
		<tr><td><%= @user.first_name %> is a <%= @user.type %></td></tr>
	</table>	
</div>
<hr>

<h2>Past Mentoring Activity:</h2>
<table>
  <% @appointments.each do |appointment| %>
	    <tr>
	      <td><h3><%= link_to "View Appointment", appointment_path(appointment.id) %></h3></td>
	      <td>Date: <%= appointment.datetime.strftime("%B %d, %Y") %></td>
	      <td>Time: <%= appointment.datetime.strftime("%I:%M%p") %></td>
	      <td>Student: <%= appointment.student.first_name %>
	      <%= appointment.student.last_name %></td>
	    </tr>
  <% end %>
</table>