<% @appointments.each do |appointment| %>
<div class="appointment-index-info">
Mentor Name: <%= appointment.mentor.first_name %>
<%= appointment.mentor.last_name %><br>
Date: <%= appointment.datetime.strftime("%B %d, %Y") %><br>
Time: <%= appointment.datetime.strftime("%I:%M%p") %><br>
<% if appointment.student %>
  <%= appointment.student.first_name %>
  <%= appointment.student.last_name %>
  <%= link_to "Appointment Info", appointment_path(appointment) %>
<% end %>
</div>
<% end %>
