<h3>Create New Mentor Session</h3>

<%= form_for @appointment do |f| %>
  <p>
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </p>
  <p>
    <%= f.label :time %><br>
    <%= f.text_field :time %>
  </p>
  <p>
    <%= f.label :skills %><br>
    <%= f.text_field :skills %>
  </p>
  <p>
    <%= f.label :skills %><br>
    <%= f.text_field :skills %>
  </p>
  <p>
    <%= f.label :skills %><br>
    <%= f.text_field :skills %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

