<div>
  <div id="mentor-info">
    <h3>Mentor Information</h3>
    Name: <%= @mentor.first_name %>
    <%= @mentor.last_name %><br>
    Phone: <%= @mentor.phone %><br>
    Email: <%= @mentor.email %><br>
    Phase: <%= @mentor.phase %>
  </div>
  <div id="student-info">
    <% if @student %>
    <h3>Student Information</h3>
    Name: <%= @student.first_name %>
    <%= @student.last_name %><br>
    Phone: <%= @student.phone %><br>
    Email: <%= @student.email %><br>
    Phase: <%= @student.phase %>
    <% end %>
  </div>
</div>
<hr>
<div>
  <h3>Appointment Info</h3>
  Date: <%= @appointment.datetime.strftime("%B %d, %Y") %><br>
  Time: <%= @appointment.datetime.strftime("%I:%M%p") %><br>
  Skills: <% @skills.each do |skill| %>
    <%= skill.name %>
  <% end %>
  <% if current_user.type == 'Student' %>
    <%= form_for @appointment, method: :PATCH do |f| %>
      <%= f.submit "Cancel Session" %>
    <% end %>
  <% end %>
</div>
<hr>
  <div>
  <% if @appointment.datetime + 30*60 < Time.now %>
    <% if @type == 'Mentor' || @type == 'Student' %>
    <!-- ^create helper method for above conditional logic -->
      <h3>Reviews</h3>
        <% @reviews.each do |review| %>
          <p>Review Author: <%= review.author.first_name %> <%= review.author.last_name %></p>
          <p>Session Rating: <%= review.rating %></p>
          <p>Feedback: <%= review.content %></p>
        <% end %>
      <% else %>
        <h3>Reviews</h3>
        <%= form_for([@appointment, @review]) do |f| %>
          <p>
            <%= f.label :rating %><br>
            <%= f.text_field :rating %>
          </p>
          <p>
            <%= f.label :content %><br>
            <%= f.text_area :content %>
          </p>
          <p>
          <%= f.submit %>
          </p>
        <% end %>
      <% end %>
    </div>
  <% end %>
